<table>
  <thead>
    <tr>
      <th>Income</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Software Engineering</td>
      <td>$5000</td>
    </tr>
    <tr>
      <td>Side Hustle</td>
      <td>$1000</td>
    </tr>
  </tbody>
</table>