<h2>Displays various charts</h2>

<form action="networth-report" method="post">
  <fieldset>
    <label>
      Categories
      <select name="categories">
        <option value="" disabled selected>Choose Category</option>
        <option value="#f00">Income</option>
        <option value="#0f0">Spending</option>
        <option value="#00f">Income Vs Spending</option>
        <option value="#00f">Networth</option>
      </select>
    </label>
  </fieldset>

  <fieldset>
    <label>
      Timeframe
      <select name="time-frame">
        <option value="" disabled selected>Choose Timeframe</option>
        <option value="#f00">This Month</option>
        <option value="#0f0">Past 3 Months</option>
        <option value="#00f">This Year</option>
        <option value="#0f0">Last Year</option>
        <option value="#0f0">All Dates</option>
      </select>
    </label>
  </fieldset>

<fieldset class="actions" >
  <input type="submit" value="See Report" />
  </fieldset>
</form>



<center>
    <h1>Report charts:</h1>
      <p>
        <%= line_chart(@networth_test) %>
      </p>
</center>
