<h2>Display populated pages for a reference</h2>

<form action="#" method="post">
  <fieldset>
    <label>
      Timeframe
      <select name="time-frame">
        <option value="" disabled selected>Choose Timeframe</option>
        <option value="#f00">This Month</option>
        <option value="#0f0">Past 3 Months</option>
        <option value="#00f">This Year</option>
        <option value="#0f0">Last Year</option>
        <option value="#0f0">All Dates</option>
      </select>
    </label>
  </fieldset>
</form>

<form action="#" method="post">
  <fieldset>
    <label>
      Categories
      <select name="categories">
        <option value="" disabled selected>Choose Category</option>
        <option value="#f00">Income</option>
        <option value="#0f0">Spending</option>
        <option value="#00f">Income Vs Spending</option>
        <option value="#00f">Networth</option>
      </select>
    </label>
  </fieldset>
</form>


<center>
    <h1>Networth for <%= @current_year %></h1>
      <p>
        <%= line_chart(@networth) %>
      </p>
</center>